@import "tailwindcss";

@theme {
  --color-kingstar-bg: #121212;
  --color-kingstar-panel: #1e1e1e;
  --color-kingstar-cyan: #38bdf8;
  --color-kingstar-yellow: #facc15;
  --color-kingstar-red: #ef4444;
  --color-kingstar-green: #22c55e;
}

body {
  background-color: #121212;
  color: #e5e5e5;
}
